// bower:scss
// endbower

@import "mixins.scss";
@import "global/style_elements.scss";
// @import "404.scss";

@mixin page-background($base-color, $accent-color: null){
  @if$accent-color{
    // background: linear-gradient(135deg,$accent-color 25%, transparent 25%) -50px 0, linear-gradient(225deg,$accent-color 25%, transparent 25%) -50px 0, linear-gradient(315deg,$accent-color 25%, transparent 25%), linear-gradient(45deg,$accent-color 25%, transparent 25%);
      background-size: 350%;
      background-image: radial-gradient($accent-color, $base-color);
      animation: gradient-fade 10s infinite alternate;
  }
  // background-size: 100px 100px;
  background-color: $base-color;
}

@mixin container-alternating-color($color, $base: 6%, $accent: 3.5%){
  background-color: darken($color, $base);
  &:nth-of-type(even){ background-color: darken($color, $accent); }
}

html, body{ width: 100%; height: 100%; }

body{
  margin: 0;
  color: $day-text;
  font-family: $bodytext;
  font-size: 16px;
  .bg-fill{ @include page-background($day-base, $day-accent); }

  &.day.afternoon{
    .bg-fill{ @include page-background($afternoon-base, $afternoon-accent); }
  }

  &:not(.night) .fa.list{ color: #666; }
  &.night{
    color: $night-text;
    .bg-fill{ @include page-background($night-base, $night-accent); }

    h1 .accent, h3{ color: $night-text; }
    .header h2, .fa{ color: rgba(255, 255, 255, 0.75); }
    .content-container{ @include container-alternating-color(rgba(255, 255, 255, 0.1), $base: 0%, $accent: 30%); }
    &.evening{
      .bg-fill{ @include page-background($evening-base, $evening-accent); }
    }
  }
}

h1, h2, h3{
  font-family: $headertext;
  font-size: 1.9em;
  display: inline-block;
}

h2:not(.project){
  margin-bottom: -2px;
  line-height: 1.1em;
  padding-bottom: 12px;
}

h1{
  &.hide{
    opacity: 0;
    height: 0;
    margin: 0;
    display: block;
  }
  .accent{ color: $day-text; }
}

h2.project{
  font-family: $bodytext;
  font-weight: 200;
  font-size: 1em;
  margin: 3px 0 0;
  line-height: 1.3em;
  &:before{
    content: "+";
    display: inline-block;
    margin-right: 8px;
    .no-js &{ display: none; }
  }
}

h3{ margin: 0 10px 0 0; }

ul{ list-style-type: none; }

a{
  text-decoration: none;
  &, html.no-touch &:hover, &:active, &:visited{ color: $accent; }
}

p{
  font-size: 0.8em;
  font-weight: 200;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  display: block;
}

img{ width: 100%; }

.bg-fill{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-container{
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 100px;
  padding: 0 30px;
  opacity: 0;
  box-sizing: border-box;
  transition: opacity 800ms 300ms;
  &.home{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 28em;
    transform: translate(-50%, -50%);
  }
  &.port{
    padding: 0 12px;
    .header{ padding-bottom: 24px; }
  }
  &.loaded{
    opacity: 1;
  }
}

.header{
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  .title{
    font-size: 1.25em;
    letter-spacing: 0.04em;
  }
  h2{ font-weight: 200; }
}

.connect{
  display: block;
  width: 100%;
}

.connect-info{
  display: block;
  a{
    display: inline-block;
    &:nth-of-type(2){ margin-left: 10px; }
  }
}

.icons{
  $size: 40px;

  display: inline-block;
  position: relative;
  width: $size;
  height: $size;
  margin: 0 3px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transition: all 250ms;
  html.no-touch &:hover, &:active{ transform: rotate(24deg); }
}

// font awesome icons
.fa{
  display: block;
  position: absolute;
  color: $day-text;
  width: 100%;
  height: 100%;
  .header &{
    font-size: 1.5em;
    &:before{
      position: absolute;
      top: 16%;
      left: 50%;
      transform: translate(-50%);
    }
    &.fa-file-text{
      top: 8%;
      font-size: 1.15em;
    }
  }
  &.list{
    display: inline-block;
    position: relative;
    width: auto;
    margin: 6px 0 0 8px;
  }
}
.fa-inline{
  display: inline;
  position: static;
  margin-top: 0;
  color: $accent;
}
.fa-file-pdf-o{ margin-top: -1px; }

.icon-legend{
  position: relative;
  float: right;
}

.link-container{
  $size: 24px;

  width: $size;
  height: $size;
  margin: -30px 0 0 5px;
  padding: 5px 6px;
  font-size: 1rem;
  border-radius: 50%;
  background-color: $accent;
  box-sizing: border-box;
  &.pdf{ margin-bottom: 4px; }
}

/* start content */
.content-container{
  $border-radius: 4px;

  position: relative;
  max-height: 46px;
  padding: 10px;
  overflow: hidden;
  font-size: 0;
  line-height: 1.1em;
  box-sizing: border-box;
  transition: max-height 400ms;
  @include container-alternating-color(rgba(255, 255, 255, 0.3), $base: 0%, $accent: 8%);
  &:nth-of-type(2){ border-radius: $border-radius $border-radius 0 0; }
  &:last-of-type{ border-radius: 0 0 $border-radius $border-radius; }

  .no-js &, &.active{
    max-height: 1000px; // greater than container
    .content-info{
      opacity: 1;
      transition: opacity 250ms 250ms;
    }
    h2.project:before{
      transform: rotate3d(45deg, 45deg, 0);
      transform: rotate(45deg);
    }
  }
  .no-js & {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2.project:before{ transition: opacity 250ms; }
}

.content-header, .content-desc{ font-size: 1rem; line-height: 1rem; }
.content-header{ margin-bottom: 10px; cursor: pointer;}
.content-info{
  opacity: 0;
  transition: opacity 250ms;
}

.content-img{
  margin-bottom: 2%;
  img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 340px;
  }
}

.cols .col{
  display: inline-block;
  width: 48.5%;
  margin: 1%;
  vertical-align: middle;
  box-sizing: border-box;
  a{ position: relative;}
}
.cols-4 .col-2{ width: 100%; }

.col-full{ width: 100%; margin: 10px 0; }

.top{
  margin-top: 30px;
  opacity: 0;
  text-align: center;
  visibility: hidden;
  transition: opacity 250ms 100ms, visibility 0ms 650ms;
  &.visible{ visibility: visible; opacity: 1; }
}
.top-text{ display: inline; }

@keyframes gradient-fade{
  0%{ background-position: 0% 51%; }
  33%{ background-position: 100% 0%; }
  66%{ background-position: 100% 50%; }
  100%{ background-position: 0% 100%; }
}

@media screen and (max-width: 569px){
  .col{
    &:nth-of-type(odd){ margin-left: 0; }
    &:nth-of-type(even){ margin-right: 0; }
    .cols & { margin-bottom: 3%; }
  }
  .content-img{ text-align: center; }
}

@media screen and (min-width: 570px){
  .content-container{ padding: 10px 20px; }

  h2.project{ font-size: 1.2em; margin: 0; }

  .content-desc, .content-img{
    display: inline-block;
    vertical-align: top;
  }
  .content-desc{ width: 46%; margin-right: 4%; }
  .content-img{ width: 49%; margin-left: 1%; }

  .col{
    &:first-of-type{ margin-left: 0; }
    &:last-of-type{ margin-right: 0; }
  }

  .cols-4{
    .col{ width: 23.5%; }
    .col-2{
      width: 48.5%;
      overflow: hidden;
      img{ width: 175%; margin-left: -40%; }
    }
  }
}
