{% extends "layouts/default.html" %}

{% set main_classes="home" %}

{% block content %}
  {% include "includes/heading.html" %}
  <p>I made my debut as an artist with "Thanksgiving is Yummy" (Crayola on loose leaf 8.5" by 11"), featured in the kindergarten parent newsletter. This marked the dawn of my creative exploits, which now include drawing, graphic &amp; web design, development, and user experience &amp; interfaces. </p>
  <p> I am a graduate of USC's Roski school of Fine Arts, and am currently working as a Sr. Web Application Developer at Disney Interactive.</p>
  </div>
{% endblock %}
