{% extends "layouts/default.html" %}

{% set page_subtitle="Portfolio" %}
{% set main_classes="port" %}

{% set project = [
    {
      name: "StarWars.com",
      description: "
        <p>Developed new modules and updated module designs in code to support fluid responsive states</p>
        <p>Data modeling and manipulation, strategic templates to minimize code bloat</p>
        <p>Used client-side code for visual elements whenever possible, reducing load times and page weight</p>
        <p>Compressing animated navigation on scroll, hamburger light saber toggle</p>
        <a href=\"http://www.starwars.com\" target=\"blank\"><h4>View StarWars.com</h4></a>
      ",
      main_image: {
        src: "images/starwars/sw_home.jpg",
        alt: "Star Wars Homepage"
      },
      icons: [
        "fa-rebel",
        "fa-laptop",
        "fa-wrench",
        "fa-picture-o"
      ],
      images: [
        {
          src: "images/starwars/sw_data_thumb.jpg",
          link: "images/starwars/sw_data.jpg",
          alt: "Star Wars Data Page"
        },
        {
          src: "images/starwars/sw_saber_thumb.jpg",
          link: "images/starwars/sw_saber.jpg",
          alt: "Star Wars Gallery Index"
        },
        {
          src: "images/starwars/sw_video_thumb.jpg",
          link: "images/starwars/sw_video.jpg",
          alt: "Star Wars Video Page"
        },
        {
          src: "images/starwars/sw_gall2_thumb.jpg",
          link: "images/starwars/sw_gall2.jpg",
          alt: "Star Wars Gallery Modal"
        }
      ]
    },

    {
      name: "Disney.com",
      description: "
        <p>Created new modules in both design and development including responsive image gallery</p>
        <p>Refactored codebase to minimize code bloat and page load times, and increase general standards and legibility</p>
        <p>Defined and created the CSS coding standards and style guide that was distributed to all devs</p>
        <p>IA, UX and design for the <a href=\"http://mickey.disney.com\" target=\"blank\">Mickey</a> franchise site</p>
        <a href=\"http://disney.com\" target=\"blank\"><h4>View Disney.com</h4></a>
      ",
      main_image: {
        src: "images/dcom/dcom_cars.jpg",
        alt: "Disney.com Cars Homepage"
      },
      icons: [
        "fa-sitemap",
        "fa-laptop",
        "fa-wrench",
        "fa-picture-o"
      ],
      images: [
        {
          src: "images/dcom/dcom_gallery_thumb.jpg",
          link: "images/dcom/dcom_gallery.jpg",
          alt: "Image Gallery"
        },
        {
          src: "images/dcom/stream_bg_thumb.jpg",
          link: "images/dcom/stream_bg.jpg",
          alt: "Disney Streaming"
        },
        {
          src: "images/dcom/responsive_character.jpg",
          link: "images/dcom/responsive_character-full.jpg",
          alt: "Mickey.com Responsive Wires"
        },
        {
          src: "images/dcom/donald_thumb.gif",
          link: "images/dcom/donald.gif",
          alt: "Mickey.com Animation Gag"
        }
      ]
    },

    {
      name: "DisneyJunior.com",
      description: "
        <p>Tablet-targeted responsive redesign of DisneyJunior.com</p>
        <p>IA, UX, and front-end development</p>
        <p>Targeted user interaction, such as large hit areas, simplified navigation, iconography for non-readers, and continuous swiping to browse content</p>
        <p>Designed and coded background to reflect the current time of day: <a href=\"http://disneyjunior.com/?time=morning\">morning</a>, <a href=\"http://disneyjunior.com/?time=afternoon\">afternoon</a>, <a href=\"http://disneyjunior.com/?time=evening\">evening</a>, <a href=\"http://disneyjunior.com/?time=night\">night</a>, and <a href=\"http://disneyjunior.com/?time=midnight\">midnight</a>. Bonus! Click on the sun and moon (tablet and desktop)</p>
          <p>Designed flexible <a href=\"images/junior/DisneyJunior_Grid.pdf\" target=\"blank\"><i class=\"fa fa-file-pdf-o fa-inline\"></i> Custom Grid System</a> that powers the majority of the site</p>
          <a href=\"http://disneyjunior.com\" target=\"blank\"><h4>View DisneyJunior.com</h4></a>
      ",
      main_image: {
        src: "images/junior/devicescomp_junior.png",
        alt: "Disney Junior Responsive"
      },
      icons: [
        "fa-sitemap",
        "fa-laptop",
        "fa-wrench"
      ],
      images: [
        {
          src: "images/junior/hp_final_thumb.jpg",
          link: "images/junior/hp_wire.jpg",
          alt: "Disney Junior Homepage Wireframe"
        },
        {
          src: "images/dcom/stream_bg_thumb.jpg",
          link: "images/junior/hp_final.png",
          alt: "Disney Junior Homepage Final"
        },
        {
          src: "images/junior/doc_wire_thumb.jpg",
          link: "images/junior/doc_wire.jpg",
          alt: "Disney Junior Showpage Final"
        },
        {
          src: "images/junior/doc_final_thumb.jpg",
          link: "images/junior/doc_final.png",
          alt: "Disney Junior Showpage Final"
        },
        {
          src: "images/junior/junior_sitemap3_thumb.jpg",
          link: "images/junior/junior_sitemap3.jpg",
          alt: "Disney Junior Sitemap",
          add_class: "col-full"
        }
      ]
    },
    {
      name: "Frozen.com",
      description: "
        <p>User research, IA, initial concepts, and UX for the Frozen movie website</p>
        <p>Provide experience to convey the tone and spirit of the film, such as the summer and winter dichotomy, playfulness, and rich animated scenery</p>
        <a href=\"images/frozen/DI-Frozen_UX.pdf\" target=\"blank\"><h4><i class=\"fa fa-file-pdf-o fa-inline\"></i> View Concept Overview</h4></a>
      ",
      main_image: {
        src: "images/frozen/hp_final.jpg",
        alt: "Frozen Final Homepage"
      },
      icons: [
        "fa-sitemap",
        "fa-laptop"
      ],
      images: [
        {
          src: "images/frozen/frozen_sitemap_thumb.jpg",
          link: "images/frozen/frozen_sitemap.pdf",
          alt: "Frozen Sitemap",
          add_class: "col-2",
          pdf: true
        },
        {
          src: "images/frozen/frozen_hp_wire2_thumb.jpg",
          link: "images/frozen/frozen_hp_wire2.jpg",
          alt: "Frozen Concept 2"
        },
        {
          src: "images/frozen/frozen_hp_wire1_thumb.jpg",
          link: "images/frozen/frozen_hp_wire1.jpg",
          alt: "Frozen Concept 1"
        }
      ]
    },
    {
      name: "YayArt (case study)",
      description: "
        <p>Responsive redesign of e-commerce user-centric art website</p>
        <p>Enhances and elevates the site's major functions: submit, vote, and shop</p>
        <p>Conducted extensive research, user testing, and persona development</p>
        <p>Utilized Bootstrap to convert wire sketches into a working wire prototype</p>
        <a href=\"http://www.katrinamacgregor.com/bootstrap/index.html\" target=\"blank\"><h4>View Bootstrap Wires</h4></a>
        <a href=\"images/yayart/yayart_casestudy.pdf\" target=\"blank\"><h4><i class=\"fa fa-file-pdf-o fa-inline\"></i> Full Case Study</h4></a>
      ",
      main_image: {
        src: "images/yayart/devicescomp_yay.png",
        alt: "YayArt Responsive"
      },
      icons: [
        "fa-sitemap",
        "fa-laptop",
        "fa-wrench",
        "fa-picture-o"
      ],
      images: [
        {
          src: "images/yayart/hp_original_thumb.jpg",
          link: "images/yayart/hp_original.jpg",
          alt: "YayArt Original Homepage"
        },
        {
          src: "images/yayart/hp_sketch_thumb.jpg",
          link: "images/yayart/hp_sketch.jpg",
          alt: "YayArt Homepage Sketch"
        },
        {
          src: "images/yayart/hp_wire_thumb.jpg",
          link: "images/yayart/hp_wire.jpg",
          alt: "YayArt Homepage Wire"
        },
        {
          src: "images/yayart/hp_final_thumb.jpg",
          link: "images/yayart/hp_final.jpg",
          alt: "YayArt Homepage Final"
        }
      ]
    },
    {
      name: "ApartmentList",
      description: "
        <p>80 unique illustrations based off of the associated personas of 20 well-known neighborhoods in Chicago, Boston, Los Angeles, and New York</p>
        <p>Utilized hand drawing, then finalized and polished in Adobe Illustrator</p>
      ",
      main_image: {
        src: "images/apt-list/AparmentList-Personas_delivery-04.png",
        alt: "Apartment List"
      },
      icons: [
        "fa-pencil"
      ],
      images: [
        {
          src: "images/apt-list/ApartmentList-Chicago.jpg",
          link: "images/apt-list/ApartmentList-Chicago.pdf",
          alt: "ApartmentList Chicago",
          pdf: true
        },
        {
          src: "images/apt-list/ApartmentList-Boston.jpg",
          link: "images/apt-list/ApartmentList-Boston.pdf",
          alt: "ApartmentList Boston",
          pdf: true
        },
        {
          src: "images/apt-list/ApartmentList-LosAngeles.jpg",
          link: "images/apt-list/ApartmentList-LosAngeles.pdf",
          alt: "ApartmentList Los Angeles",
          pdf: true
        },
        {
          src: "images/apt-list/ApartmentList-NewYork.jpg",
          link: "images/apt-list/ApartmentList-NewYork.pdf",
          alt: "ApartmentList New York",
          pdf: true
        }
      ]
    },
    {
      name: "All the Things",
      description: "
        <p>Additional skills include painting, packaging, logo design, and installations</p>
        <p>Designed Cafe Dulce logo in Little Tokyo in Los Angeles</p>
        <p>Disney Consumer Products wall installation for history of Marvel</p>
      ",
      main_image: {
        src: "images/misc/moch.jpg",
        alt: "Meet Mochi"
      },
      icons: [
        "fa-paint-brush",
        "fa-picture-o",
        "fa-pencil"
      ],
      images: [
        {
          src: "images/misc/cafedulce_thumb.jpg",
          link: "images/misc/cafedulce.jpg",
          alt: "Cafe Dulce Logo"
        },
        {
          src: "images/misc/MarvelTimeline_short.jpg",
          link: "images/misc/MarvelTimeline_full.jpg",
          alt: "Marvel Timeline Layout"
        },
        {
          src: "images/misc/MarvelWall_thumb.jpg",
          link: "images/misc/MarvelWall.jpg",
          alt: "Marvel Wall"
        },
        {
          src: "images/misc/casa_thumb.jpg",
          link: "images/misc/casa.jpg",
          alt: "Casa De La Abeja Logo"
        }
      ]
    },
    {
      name: "Nice to meet you!",
      description: "
        <p>Hi there, I'm Katrina.</p>
        <p>As a Sr. Web Application Developer at Disney Interactive, I translate my passion for art and design into code. Daily languages include Javascript, Ruby, HTML, CSS, and libraries including Backbone, Underscore, Mustache, and Sass.</p>
        <p> When I'm not tinkering with code, you can find me doting on my pet bunny, Mochi (not pictured).</p>
      ",
      main_image: {
        src: "images/selfportrait.jpg",
        alt: "Katrina"
      },
      icons: [
        "fa-smile-o"
      ]
    }
  ]
%}

{% block content %}
  <a name="anchor"></a>
  {% include "includes/heading.html" %}

  {% for item in project %}
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">{{item.name}}</h2>
      <div class="icon-legend">
        {% for icon in item.icons %}
          <i class="fa list {{icon}}"></i>
        {% endfor %}
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          {{item.description | safe}}
        </div>
        <div class="content-img">
          <a href="{{item.main_image.src}}" target="blank">
            <img src="{{item.main_image.src}}" alt="{{item.main_image.alt}}">
          </a>
        </div>
      </div>
      {% if item.images %}
      <div class="content-addtnl cols cols-4">
        {% for image in item.images %}
        <div class="col{% if image.add_class %} {{image.add_class}}{% endif %}">
          <div class="wrapper">
            <a href="{{image.link}}" target="blank" alt="{{image.alt}}">
              <img src="{{image.src}}">
              <div class="link-container{% if image.pdf %} pdf{% endif %}">
                <i class="fa{% if image.pdf %} fa-file-pdf-o{% else %} fa-expand{% endif %}"></i>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <a href="#top">
    <div class="top">
      <i class="fa fa-chevron-up fa-inline"></i>
      <p class="top-text"> Back to Top</p>
    </div>
  </a>
{% endblock %}
