{% extends "layouts/default.html" %}

{% set page_subtitle="Portfolio" %}
{% set main_classes="port" %}

{% block content %}
  <a name="anchor"></a>
  {% include "includes/heading.html" %}
  <!-- start -->
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">StarWars.com</h2>
      <div class="icon-legend">
        <i class="fa list fa-rebel"></i>
        <i class="fa list fa-laptop"></i>
        <i class="fa list fa-wrench"></i>
        <i class="fa list fa-picture-o"></i>
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          <p>Developed new modules and updated module designs in code to support fluid responsive states</p>
          <p>Data modeling and manipulation, strategic templates to minimize code bloat</p>
          <p>Used client-side code for visual elements whenever possible, reducing load times and page weight</p>
          <p>Compressing animated navigation on scroll, hamburger light saber toggle</p>
          <a href="http://www.starwars.com" target="blank"><h4>View StarWars.com</h4></a>
        </div>
        <div class="content-img">
          <a href="images/starwars/sw_home.jpg" target="blank">
            <img src="images/starwars/sw_home.jpg" alt="Star Wars Homepage">
          </a>
        </div>
      </div>
      <div class="content-addtnl cols cols-4">
        <div class="col">
          <a href="images/starwars/sw_data.jpg" target="blank" alt="Star Wars Data Page">
            <img src="images/starwars/sw_data_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/starwars/sw_saber.jpg" target="blank" alt="Star Wars Gallery Index">
            <img src="images/starwars/sw_saber_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/starwars/sw_video.jpg" target="blank" alt="Star Wars Video Page">
            <img src="images/starwars/sw_video_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/starwars/sw_gall2.jpg" target="blank" alt="Star Wars Gallery Modal">
            <img src="images/starwars/sw_gall2_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
  <!-- start -->
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">Disney.com</h2>
      <div class="icon-legend">
        <i class="fa list fa-sitemap"></i>
        <i class="fa list fa-laptop"></i>
        <i class="fa list fa-wrench"></i>
        <i class="fa list fa-picture-o"></i>
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          <p>Created new modules in both design and development including responsive image gallery</p>
          <p>Refactored codebase to minimize code bloat and page load times, and increase general standards and legibility</p>
          <p>Defined and created the CSS coding standards and style guide that was distributed to all devs</p>
          <p>IA, UX and design for the <a href="http://mickey.disney.com" target="blank">Mickey</a> franchise site</p>
          <a href="http://disney.com" target="blank"><h4>View Disney.com</h4></a>
        </div>
        <div class="content-img">
          <a href="images/dcom/dcom_cars.jpg" target="blank">
            <img src="images/dcom/dcom_cars.jpg" alt="apartment-list">
          </a>
        </div>
      </div>
      <div class="content-addtnl cols cols-4">
        <div class="col">
          <a href="images/dcom/dcom_gallery.jpg" target="blank" alt="Image Gallery">
            <img src="images/dcom/dcom_gallery_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/dcom/stream_bg.jpg" target="blank" alt="Disney Streaming">
            <img src="images/dcom/stream_bg_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/dcom/responsive_character-full.jpg" target="blank" alt="Mickey.com Responsive Wires">
            <img src="images/dcom/responsive_character.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/dcom/donald.gif" target="blank" alt="Mickey.com Animation Gag">
            <img src="images/dcom/donald_thumb.gif">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="col col-full">
        <a href="images/dcom/mickey_sitemap.jpg" alt="Mickey.com Site Map">
          <img src="images/dcom/mickey_sitemap_thumb.jpg">
          <div class="link-container">
            <i class="fa fa-expand"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- end -->
  <!-- start -->
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">DisneyJunior.com</h2>
      <div class="icon-legend">
        <i class="fa list fa-sitemap"></i>
        <i class="fa list fa-laptop"></i>
        <i class="fa list fa-wrench"></i>
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          <p>Tablet-targeted responsive redesign of DisneyJunior.com</p>
          <p>IA, UX, and front-end development</p>
          <p>Targeted user interaction, such as large hit areas, simplified navigation, iconography for non-readers, and continuous swiping to browse content</p>
          <p>Designed and coded background to reflect the current time of day: <a href="http://disneyjunior.com/?time=morning">morning</a>, <a href="http://disneyjunior.com/?time=afternoon">afternoon</a>, <a href="http://disneyjunior.com/?time=evening">evening</a>, <a href="http://disneyjunior.com/?time=night">night</a>, and <a href="http://disneyjunior.com/?time=midnight">midnight</a>. Bonus! Click on the sun and moon (tablet and desktop)</p>
          <p>Designed flexible <a href="images/junior/DisneyJunior_Grid.pdf" target="blank"><i class="fa fa-file-pdf-o fa-inline"></i> Custom Grid System</a> that powers the majority of the site</p>
          <a href="http://disneyjunior.com" target="blank"><h4>View DisneyJunior.com</h4></a>
        </div>
        <div class="content-img">
          <a href="images/junior/devicescomp_junior.png" target="blank">
            <img src="images/junior/devicescomp_junior.png" alt="Disney Junior Responsive">
          </a>
        </div>
      </div>
      <div class="content-addtnl cols cols-4">
        <div class="col">
          <a href="images/junior/hp_wire.jpg" alt="Disney Junior Homepage Wireframe">
            <img src="images/junior/hp_wire_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/junior/hp_final.png" alt="Disney Junior Homepage Final">
            <img src="images/junior/hp_final_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/junior/doc_wire.jpg" alt="Disney Junior Showpage Final">
            <img src="images/junior/doc_wire_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/junior/doc_final.png" alt="Disney Junior Showpage Final">
            <img src="images/junior/doc_final_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="col col-full">
        <a href="images/junior/junior_sitemap3.jpg" alt="Disney Junior Sitemap">
          <img src="images/junior/junior_sitemap3_thumb.jpg">
          <div class="link-container">
            <i class="fa fa-expand"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- end -->
   <!-- start -->
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">Frozen.com</h2>
      <div class="icon-legend">
        <i class="fa list fa-sitemap"></i>
        <i class="fa list fa-laptop"></i>
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          <p>User research, IA, initial concepts, and UX for the Frozen movie website</p>
          <p>Provide experience to convey the tone and spirit of the film, such as the summer and winter dichotomy, playfulness, and rich animated scenery</p>
          <a href="images/frozen/DI-Frozen_UX.pdf" target="blank"><h4><i class="fa fa-file-pdf-o fa-inline"></i> View Concept Overview</h4></a>
        </div>
        <div class="content-img">
          <a href="images/frozen/hp_final.jpg" target="blank">
            <img src="images/frozen/hp_final.jpg" alt="apartment-list">
          </a>
        </div>
      </div>
      <div class="content-addtnl cols cols-4">
        <div class="col col-2">
          <a href="images/frozen/frozen_sitemap.pdf" target="blank" alt="Frozen Sitemap">
            <img src="images/frozen/frozen_sitemap_thumb.jpg">
            <div class="link-container pdf">
              <i class="fa fa-file-pdf-o"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/frozen/frozen_hp_wire2.jpg" target="blank" alt="Frozen Concept 2">
            <img src="images/frozen/frozen_hp_wire2_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/frozen/frozen_hp_wire1.jpg" target="blank" alt="Frozen Concept 1">
            <img src="images/frozen/frozen_hp_wire1_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
  <!-- start -->
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">YayArt <span style="font-size: 0.7em; font-weight: 400; opacity: 0.7;">(case study)</span></h2>
      <div class="icon-legend">
        <i class="fa list fa-sitemap"></i>
        <i class="fa list fa-laptop"></i>
        <i class="fa list fa-wrench"></i>
        <i class="fa list fa-picture-o"></i>
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          <p>Responsive redesign of e-commerce user-centric art website</p>
          <p>Enhances and elevates the site's major functions: submit, vote, and shop</p>
          <p>Conducted extensive research, user testing, and persona development</p>
          <p>Utilized Bootstrap to convert wire sketches into a working wire prototype</p>
          <a href="http://www.katrinamacgregor.com/bootstrap/index.html" target="blank"><h4>View Bootstrap Wires</h4></a>
          <a href="images/yayart/yayart_casestudy.pdf" target="blank"><h4><i class="fa fa-file-pdf-o fa-inline"></i> Full Case Study</h4></a>
        </div>
        <div class="content-img">
           <a href="images/yayart/devicescomp_yay.png" target="blank">
            <img src="images/yayart/devicescomp_yay.png" alt="yayart devices">
          </a>
        </div>
      </div>
      <div class="content-addtnl cols cols-4">
        <div class="col">
          <a href="images/yayart/hp_original.jpg" target="blank" alt="YayArt Original Homepage">
            <img src="images/yayart/hp_original_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/yayart/hp_sketch.jpg" target="blank" alt="YayArt Homepage Sketch">
            <img src="images/yayart/hp_sketch_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/yayart/hp_wire.jpg" target="blank" alt="YayArt Homepage Wire">
            <img src="images/yayart/hp_wire_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/yayart/hp_final.jpg" target="blank" alt="YayArt Homepage Final">
            <img src="images/yayart/hp_final_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
  <!-- start -->
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">ApartmentList</h2>
      <div class="icon-legend">
        <i class="fa list fa-pencil"></i>
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          <p>80 unique illustrations based off of the associated personas of 20 well-known neighborhoods in Chicago, Boston, Los Angeles, and New York</p>
          <p>Utilized hand drawing, then finalized and polished in Adobe Illustrator</p>
        </div>
        <div class="content-img">
          <a href="images/apt-list/AparmentList-Personas_delivery-04.png" target="blank">
            <img src="images/apt-list/AparmentList-Personas_delivery-04.png" alt="apartment-list">
          </a>
        </div>
      </div>
      <div class="content-addtnl cols cols-4">
        <div class="col">
          <a href="images/apt-list/ApartmentList-Chicago.pdf" target="blank" alt="ApartmentList Chicago">
            <img src="images/apt-list/ApartmentList-Chicago.jpg">
            <div class="link-container pdf">
              <i class="fa fa-file-pdf-o"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/apt-list/ApartmentList-Boston.pdf" target="blank" alt="ApartmentList Boston">
            <img src="images/apt-list/ApartmentList-Boston.jpg">
            <div class="link-container pdf">
              <i class="fa fa-file-pdf-o"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/apt-list/ApartmentList-LosAngeles.pdf" target="blank" alt="ApartmentList Los Angeles">
            <img src="images/apt-list/ApartmentList-LosAngeles.jpg">
            <div class="link-container pdf">
              <i class="fa fa-file-pdf-o"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/apt-list/ApartmentList-NewYork.pdf" target="blank" alt="ApartmentList New York">
            <img src="images/apt-list/ApartmentList-NewYork.jpg">
            <div class="link-container pdf">
              <i class="fa fa-file-pdf-o"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
  <!-- start -->
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">All the Things</h2>
      <div class="icon-legend">
        <i class="fa list fa-paint-brush"></i>
        <i class="fa list fa-picture-o"></i>
        <i class="fa list fa-pencil"></i>
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          <p>Additional skills include painting, packaging, logo design, and installations</p>
          <p>Designed Cafe Dulce logo in Little Tokyo in Los Angeles</p>
          <p>Disney Consumer Products wall installation for history of Marvel</p>
        </div>
        <div class="content-img">
          <a href="images/misc/moch.jpg" target="blank">
            <img src="images/misc/moch.jpg" alt="Meet Mochi">
          </a>
        </div>
      </div>
      <div class="content-addtnl cols cols-4">
        <div class="col">
          <a href="images/misc/cafedulce.jpg" target="blank" alt="Cafe Dulce Logo">
            <img src="images/misc/cafedulce_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/misc/MarvelTimeline_full.jpg" target="blank" alt="Marvel Timeline Layout">
            <img src="images/misc/MarvelTimeline_short.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/misc/MarvelWall.jpg" target="blank" alt="Marvel Wall">
            <img src="images/misc/MarvelWall_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="images/misc/casa.jpg" target="blank" alt="Casa De La Abeja Logo">
            <img src="images/misc/casa_thumb.jpg">
            <div class="link-container">
              <i class="fa fa-expand"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
   <!-- start -->
  <div class="content-container">
    <div class="content-header">
      <span class="expand-icon"></span><h2 class="project">Nice to meet you!</h2>
      <div class="icon-legend">
        <i class="fa list fa-smile-o"></i>
      </div>
    </div>
    <div class="content-info">
      <div class="content-detail">
        <div class="content-desc">
          <p>Hi there, I'm Katrina.</p>
          <p>As a Sr. Web Application Developer at Disney Interactive, I translate my passion for art and design into code. Daily languages include Javascript, Ruby, HTML, CSS, and libraries including Backbone, Underscore, Mustache, and Sass.</p>
          <p> When I'm not tinkering with code, you can find me doting on my pet bunny, Mochi (not pictured).</p>
        </div>
        <div class="content-img">
          <a href="images/selfportrait.jpg" target="blank">
            <img src="images/selfportrait.jpg" alt="katrina macgregor">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->
  <a href="#top">
    <div class="top">
      <i class="fa fa-chevron-up fa-inline"></i>
      <p class="top-text"> Back to Top</p>
    </div>
  </a>
{% endblock %}
