$fallbacks: Helvetica, Arial, sans-serif;
$headertext: 'Muli', $fallbacks;
$bodytext: 'Muli', $fallbacks;
$accent: #25A8DF;

// $day-base: #f4f7f7;
// $day-accent: #f8fcfd;
$day-base: #AAE8FF;
$day-accent: #F7EFD9;
$day-text: #666;

$afternoon-base: #16AEF7;
$afternoon-accent: #D6F5FF;

$evening-base: #003482;
$evening-accent: #FF9881;

// $night-base: #222;
// $night-accent: #696969;
$night-base: #060421;
$night-accent: #0448AF;
$night-text: rgba(255, 255, 255, 0.9);
