$headertext: 'Playfair Display', 'Georgia', serif;
$bodytext: 'Muli', sans-serif;
$accent: #25A8DF;

$day-base: #f4f7f7;
$day-accent: #f8fcfd;
$day-text: #666;

$night-base: #666;
$night-accent: #696969;
$night-text: $day-base;
